@charset "UTF-8";
body{
 font-family:'Lato';
}

.is-Raleway{
  font-family:'Raleway';
}

.header{
  width: 100%;
  position: fixed;
  background-color:#FFFFFF;
}

.fa-bolt{
  font-size: 3em 
}

.header-inner{
  padding: 15px 0 ;
}

.header-inner > i{
  color: #4e4e4e;
  margin-right: 700px; 
}

.contact-box{
  transition: 0.3s;
  background: #74cfae;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  margin-right: 170px;
  font-size: 12px;
  padding: 14px 12px;
}

a:hover{
  color:#333;
  transition: all  0.3s;
}

.title{
  background-color: #f2f2f2;
  width: 100%;
}

.inner{
  margin: 0 auto;
  text-align: center;
  width: 1200px;
}

.title-inner{
  padding: 250px 0;
}

.title-inner > h1{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.title-inner {
  color:#c0c0c0;
  font-size: 30px;
}

.iphone-img{
  float: left;
  margin-left:200px;
  height:265px;
  width: 180px;
}

.what{
  background-color: #74cfae;
  width: 100%;
}

.what-inner{
  padding: 50px 0 110px 0;
}

.what-inner > h2{
  color: #f2f2f2;
  font-size: 24px;
  margin-bottom:35px; 
}

.what-inner > p{
  color: #f2f2f2;
  font-size: 20px;
  line-height: 24px;
}

.what-inner >h2,
.what-inner >p{
  margin-left:500px;
} 

.our-latest-work-inner{
  padding: 60px 0 70px 0;
}

.our-latest-work{
  background-color:#f2f2f2;
  width: 100%;
}

.our-latest-work-inner h2{
  color:#333;
  font-size: 24px;
  margin-bottom: 40px;
}

.article-img{
  cursor: pointer;
  height: 280px;
  opacity: 0.7;
  width: 280px;
}

li{
 margin:0 100px 80px 0;
 display: inline-block;
}

li:nth-child(3n){
  margin-right: 0;
}

.article-img:hover{
  opacity: 1;
}

.email-box{
  background: #74cfae;
  display: inline-block;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 90px;
  vertical-align: top;
  transition: 0.3s;
  font-size: 12px;
  padding: 14px 20px;
  text-align: center;
}

.email-box:hover{
  color:#333;
  transition: 0.3s;
}

.article-bottom{
  margin:10px  110px 0 0;
}

.article-bottom-text{
  display: inline-block;
  font-size: 20px;
  width: 570px;
}

.our-skills{
  background-color: #4e4e4e;
  width: 100%;
}

.our-skills-inner h2{
  color: #f2f2f2;
  margin-bottom: 70px;
  font-size: 24px;
}
.our-skills-inner{
  padding: 70px 0 100px 0;
}

.skills{
  display: inline-block;
  margin: 0 0 0 180px;
}

.circle{
  height: 100px;
  width: 100px;
}

.our-skills-inner >
div:first-of-type{
  margin-left:0;
}

.skills 
p{
  color:#f2f2f2;
  font-size: 16px;
}

.sns-icon{
  background-color: #f2f2f2;
  color:  #74cfae;
  width: 100%;
}

.sns-icon-inner{
  padding: 200px 0 ;
}

.skills-name{
  margin-top:15px;
}

.fab{
  cursor: pointer;
  display: inline-block;
  margin-left: 50px;
  padding: 35px 0;
  width: 185px;
  font-size: 3em ;
  transition: 0.3s;
}

.fab:hover{
  background-color:#FFFFFF;
  transition: 0.3s;
}

.sns-icon a:first-child{
  margin-left:0;
}

.footer{
  background-color:#74cfae; 
  width: 100%;
}

.footer-inner{
 padding:20px 0 25px 0;
}

.footer-inner p{
  color: #f2f2f2;
  text-align: right;
}