@charset "UTF-8";
body{
 font-family:'Lato';
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.is-Raleway{
  font-family:'Raleway';
}

.header{
  width: 100%;
  position: fixed;
  background-color:#FFF;
  z-index: 1;
}

.ham{
  display: none;
}

.header-logo-menu{
  display: none;
}

.fa-bolt{
  font-size: 3em 
}

.header-inner{
  padding: 15px 0 ;
}

.header-img{
  color: #4e4e4e;
  float: left;
}

.contact-box{
  transition: 0.3s;
  background: #74cfae;
  color: #FFFFFF;
  float:right;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none ;
}

.contact-box:hover{
  color:#333;
  transition: all  0.3s;
}

.main{
  padding-top: 78px;
}

.title{
  background-color: #f2f2f2;
  width: 100%;
}

.inner{
  width: 1100px;
  margin: 0 auto;
}

.title-h1{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.title-p{
  text-align: center;
}

.title-inner {
  color:#c0c0c0;
  font-size: 30px;
  padding: 250px 0;
}

.iphone-img{
  float: left; 
  text-align: center;
}

.what{
  background-color: #74cfae;
  width: 100%;
}

.what-inner{
  padding-top: 50px;
}

.what-h2{
  color: #f2f2f2;
  font-size: 24px;
  margin-bottom:35px; 
  text-align: center;
}

.what-p{
  color: #f2f2f2;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.what-text{
  float: right;
  width: 650px;
}

.our-latest-work-inner{
  padding: 60px 0 70px 0;
}

.our-latest-work{
  background-color:#f2f2f2;
  width: 100%;
}

.our-latest-h2{
  color:#333;
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}

.article-img{
  opacity: 0.7;
  transition: 0.3s;
}

.article-img-img{
 width: 300px;
}

.our-latest-img{
  font-size: 0;
}

.our-latest-img >li{
  display: inline-block;
  margin:0 100px 80px 0;
}

.our-latest-img >li:nth-child(3n){
  margin-right: 0;
}

.our-latest-img >li:nth-last-child(-n+3){
  margin-bottom: 0;
}

.article-img:hover{
  opacity: 1;
}

.email-box{
  background: #74cfae;
  display: inline-block;
  color: #FFFFFF;
  margin-left: 90px;
  vertical-align: top;
  transition: 0.3s;
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
}

.email-box:hover{
  color:#333;
  transition: 0.3s;
}

.article-bottom{
  margin-top:70px;
  text-align: center;
}

.article-bottom-text{
  display: inline-block;
  font-size: 20px;
  width: 570px;
}

.our-skills{
  background-color: #4e4e4e;
  width: 100%;
}

.our-skills-h2{
  color: #f2f2f2;
  margin-bottom: 70px;
  font-size: 24px;
  text-align: center;
}

.our-skills-inner{
  padding: 70px 0 100px 0;
}

.skills{
  text-align: center;
}

.skills-circle{
  display: inline-block;
  margin: 0 0 0 180px;
}

.skills-circle:first-child{
  margin-left:0;
}

.skills-name{
  color:#f2f2f2;
  font-size: 16px;
  margin-top:15px;
}

.sns-icon{
  background-color: #f2f2f2;
  color:  #74cfae;
  width: 100%;
}

.sns-icon-inner{
  padding: 200px 0 ;
  text-align: center;
  font-size: 0;
}

.sns-icon-nav{
  display: inline-block;
  padding: 35px 0;
  width: 185px;
  color: #74cfae;
  font-size: 40px;
  transition: 0.3s;
  text-decoration: none;
}

.sns-icon-nav:hover{
  background-color:#FFFFFF;
  transition: 0.3s;
}

.footer{
  background-color:#74cfae; 
  width: 100%;
}

.footer-inner{
 padding:20px 0 25px 0;
}

.footer-inner p{
  color: #f2f2f2;
  text-align: right;
}

@media screen and (max-width:1199px){
  .ham{
    display: none;
  }

  .inner{
    width: 97%;
  }

  .what-inner{
    padding-bottom: 25px;
  }

  .iphone-img{
    float:none;
    margin: 0 auto;
  }

  .what-text{
    float: none;
    text-align: center;
    margin: 20px auto 0 auto;
    width: 600px;
  }

  .our-latest-img >li{
    display: block;
    margin:0;
    text-align: center;
  }

  .article-bottom{
    margin-top:80px;
  }

  .article-bottom-text{
    display: block;
    margin: 0 auto;
  }

  .our-latest-img >li:nth-child(3n){
    margin-bottom: 80px;
  }

  .our-latest-img >li:last-child{
    margin-bottom: 0;
  }

  .email-box{
    margin:40px 0 0 0;
  }

  .skills-circle{
    display: block;
    margin:88px 0 0 0;
  }

  .skills-circle:first-child{
    margin-top: 0;
  }

  .sns-icon-nav{
    width: 25%;
  }
}

@media screen and (max-width: 767px){
  .ham{
    display:inline
  }

  .ham,
  .ham span {
    float: right;
  }

  .ham{
    position: relative;
    height: 41px;
    width: 56px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
  }

  .ham span {
    position: absolute;
    height: 3px;
    width: 33px;
    background-color: #ddd;
    right: 11px;  
  }

  .ham span:nth-of-type(1) {
    top:10px;
  }

  .ham span:nth-of-type(2) {
    top:  18px;
  }

  .ham span:nth-of-type(3) {
    top:26px;
  }

  .contact-box{
    display: none;
  }

  .title-inner {
    padding: 160px 0 130px 0;
  }

  .title-h1{
    font-size: 80px;
  }

  .title-p{
    font-size: 30px;
  }

  .what-text{
    width: 100%;
    float: none;
    margin: 0 auto;
  }

  .what-p{
    line-height:30px;
  }

  .what-inner{
    padding-bottom: 30px;
  }

  .iphone-img{
    width: 100%;
    float: none;
    margin: 0 auto 20px auto;
    text-align: center;
  }

  .our-latest-img >li{
    display: block;
    margin:0;
    text-align: center;
  }

  .article-bottom-text{
    display: block;
    margin: 0 auto;
    width: 100%;
    line-height: 30px;
  }

  .email-box{
    margin:30px 0 0 0;
    font-size: 20px;
  }

  .skills-circle{
    display: block;
    margin:88px 0 0 0;
  }

  .skills-circle:first-child{
    margin-top: 0;
  }

  .sns-icon-inner{
    padding:50px 0 100px 0;
  }

  .sns-icon-nav{
    width: 100%;
  }
}