@charset "UTF-8";

.header{
  width: 100%;
}

.fa-bolt{
  font-size: 3em 
}

.header-inner > i{
  color: #4e4e4e;
  margin-right: 700px; 
  padding: 15px 0 ;
}

.contact-box{
  background: #74cfae;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  line-height: 20px;
  margin: 15px 170px 0 0;
  width: 70px;
}

.contact-text:hover{
  color:#333;
  transition: all  0.3s;
}
.contact-text{
  color: #FFFFFF;
  font-size: 12px;
  padding: 14px 12px;
}

.title{
  background-color: #f2f2f2;
  width: 100%;
}

.inner{
  margin: 0 auto;
  text-align: center;
  width: 1100px;
}

.title-inner{
  padding: 250px 0;
}

.title-inner > h1{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  padding-bottom: 20px;
}

.title-inner > h2{
  color:#c0c0c0;
  font-size: 30px;
}

.iphone-img{
  float: left;
  height:250px;
  padding: 50px 0 0 100px;
  width: 180px;
}

.what{
  background-color: #74cfae;
  position: relative;
  width: 100%;
}
.what-text{
position: absolute;
right: 60px;
}

.what-inner{
height: 300px;
}

.what-text > h1{
  color: #f2f2f2;
  font-size: 24px;
  padding: 50px 0 35px 0;
}

.what-text > h2{
  color: #f2f2f2;
  font-size: 20px;
  line-height: 24px;
}

.our-latest-work{
  background-color:#f2f2f2;
  width: 100%;
}

.our-latest-work-inner h1{
  color:#333;
  font-size: 24px;
  padding: 60px 0 40px;
}

.article-img-top,
.article-img-bottom{
  cursor: pointer;
  height: 280px;
  opacity: 0.7;
  width: 280px;
}

.article-top >img:hover{
  opacity: 1;
}

.article-innner{
  margin: 0 100px 0 100px;
}

.article-img-top{
  margin-bottom: 80px;
}

.article-img-bottom{
  margin-bottom: 90px;
}

.email-box{
  background: #74cfae;
  display: inline-block;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 90px;
  vertical-align: top;
  width: 110px;
}
.email-text:hover{
  color:#333;
  transition: all  0.3s;
}
.email-text{
  color: #F2F2F2;
  font-size: 12px;
  padding: 14px 20px;
  text-align: center;
}

.article-bottom{
  margin-right: 110px;
  padding-bottom: 70px;
}

.article-bottom h2{
  display: inline-block;
  font-size: 20px;
}

.our-skills{
  background-color: #4e4e4e;
  width: 100%;
}

.our-skills-inner > h1{
  color: #f2f2f2;
  padding: 70px;
}

.skills{
  display: inline-block;
  margin: 0 0 100px 180px;
}

.circle{
  height: 100px;
  width: 100px;
}

.our-skills-inner >
div:first-of-type{
  margin-left:0;
}

.skills 
p{
  color:#f2f2f2;
  font-size: 16px;
}

.sns-icon{
  background-color: #f2f2f2;
  color:  #74cfae;
  padding: 200px 0 ;
  width: 100%;
}

.fab{
  cursor: pointer;
  display: inline-block;
  margin-left: 50px;
  padding: 35px 0;
  width: 185px;
  font-size: 3em 
}

.fab:hover{
  background-color:#FFFFFF;
  transition: all  0.3s;
}

.sns-icon i:first-child{
  margin-left:0;
}

.footer{
  background-color:#74cfae;
  height: 55px; 
  width: 100%;
}

.inner > p{
  color: #f2f2f2;
  float: right;
  font-size: 3px;
  margin:20px 0 25px 0;
}